_misc/
.idea/
__pycache__/
.pytest_cache/
.coverage
*/RS_settings.txt

*.xml
*.iml

# Testing files/folders
RS/
tests/results.txt
htmlcov

# Pyinstaller files
*.spec
/build/

# Sphinx files
docs/*/_static
# docs/*/build
docs/*/_templates

# Experiment files/folders
# experiment/
*-checkpoint.ipynb
experiment/_resources
